IPATLAS_ENVIRONMENT=local
IPATLAS_ADMIN_TOKEN=change-me
IPATLAS_DATA_DIR=./data
IPATLAS_BATCH_MAX_SIZE=1000
IPATLAS_ENABLE_SCHEDULER=false
IPATLAS_GEO_PROVIDER=dbip_lite
IPATLAS_DBIP_DOWNLOAD_PAGE=https://db-ip.com/db/download/ip-to-city-lite
IPATLAS_DBIP_MMDB_PATH=./data/dbip-city-lite.mmdb
IPATLAS_LOOKUP_CACHE_TTL_SECONDS=86400
IPATLAS_AUTO_DOWNLOAD_GEO=false
IPATLAS_DATABASE_URL=postgresql+psycopg://ipatlas:ipatlas@postgres:5432/ipatlas
IPATLAS_REDIS_URL=redis://redis:6379/0
